body {
    font-family: sans-serif;
}

.link-header{
    border:1px solid #6685F4;
    background-color:#6685F4;
    border-radius:10px;
    text-decoration:none;
    padding:10px;
    font-size:20px;
}

header{
    padding:10px;
    background-color:#6685F4;
}

li{
    font-size:20px;
}

h2{
    text-align:center;
}

body{
    background-color:#6685F4;
}

.social{
    position:relative;
    left:330px;
}
